<div class="col-md-6 offset-md-3">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Title:
      <span class="badge badge-primary"><%= @property.title %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center d-flex justify-content-between align-items-center">
      Property Transaction:
      <span class="badge badge-primary"><%= @property.property_transaction %></span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Property Type:
      <span class="badge badge-primary"><%= @property.property_type %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Levels:
      <span class="badge badge-primary"><%= @property.levels %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      BathRooms:
      <span class="badge badge-primary"><%= @property.bathrooms %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Area:
      <span class="badge badge-primary"><%= @property.area %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Price:
      <span class="badge badge-primary"><%= @property.price %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Extra description:
      <span class="badge badge-primary"><%= @property.description %></span>
    </li>
  </ul>
</div>